name: Publish

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Doxygen
        uses: mattnotmitt/doxygen-action@v1
        with:
          doxyfile-path: 'doxygen_configuration'
