name: Publish

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
          uses: actions/checkout@v2
          with:
            persist-credentials: false
      - name: Doxygen
        uses: mattnotmitt/doxygen-action@v1
        with:
          doxyfile-path: 'doxygen_configuration'
      - name: Deploy
          uses: JamesIves/github-pages-deploy-action@3.7.1
          with:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            BRANCH: gh-pages # The branch the action should deploy to.
            FOLDER: docs # The folder the action should deploy.
            CLEAN: true # Automatically remove deleted files from the deploy branch